extends layout

block content
	script(src='https://code.jquery.com/jquery-3.1.1.min.js')
	script(src='javascripts/main.js')
	header
		div.container
			h1= title
			h2 CEGL & CEGInfo
	form.container
		input(name='matricule')
		br
		br
		input(type='submit' value='Valider le matricule') 
		section#error.container

	div.container#matriculesContainer
		ul#matricules
			- for(var i = 0; i < matricules.length; i++) {
				li= matricules[i].matricule
			- }

